#friends-display-link {
  margin-top: -15px;
  margin-bottom: 8px;
  padding: 10px 0px;
  text-align: center;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

#friends-display-link i {
  margin: 7px;
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes HideSplashScreen {
  0% {
    background-position: 50% 0%;
    opacity: 1;
  }
  100% {
    background-position: 50% 100%;
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen__first {
  background-image: url("shigatsu-first.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: HideSplashScreen 2s ease-in-out forwards;
  animation-delay: 1.5s;
}
