.shigatsu-pay {
  margin-top: 20px;
  border-radius: 5px;
  padding: 0px 15px;
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.shigatsu-pay__left {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 140px;
  height: 25px;
  border-radius: 10px;
  background-color: white;
}

.shigatsu-pay__left h5 {
  font-size: 20px;
}

.shigatsu-pay__left .fa-comment,
.shigatsu-pay__left h5:first-child {
  margin-right: 5px;
}

.shigatsu-pay__right {
  display: flex;
  align-items: center;
}

.shigatsu-pay__right :nth-child(2),
.shigatsu-pay__right :nth-child(4) {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.3);
}

.news-paper {
  margin-top: 25px;
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.skip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.skip__circle {
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2f363e;
}

.skip__circle__no-color {
  background-color: rgba(47, 54, 62, 0.5);
}

.main-screen h3 {
  margin-top: 15px;
  font-size: 18px;
}

.corona-box {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  background-color: #151594;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corona-box div:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corona-box div:nth-child(2) {
  margin-top: 40px;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.corona-box div:nth-child(2) h5:nth-child(2) {
  margin-left: 5px;
  border-radius: 10px;
  width: 35px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corona-box h4 {
  margin-top: 5px;
  font-size: 20px;
  color: white;
}

.corona-box div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.corona-box div:nth-child(4) .fa-qrcode {
  margin-right: 5px;
}

.corona-box div:last-child {
  margin-top: 35px;
  font-size: 10px;
  color: white;
}

.corona-state {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

.corona-state__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corona-state__box h5 {
  margin-bottom: 5px;
  font-size: 12px;
}

.corona-state__box .confirm {
  font-weight: 600;
  color: red;
}

.corona-state__box .quarantine {
  font-weight: 600;
  color: blue;
}

.corona-state__box .dead {
  font-weight: 600;
}

.corona-state__box .inspection {
  color: rgba(47, 54, 62, 0.5);
}

.corona-state__box div:last-child {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.corona-state__box div:last-child i {
  margin-right: 5px;
}
