.user-component {
  justify-content: space-between;
}

.user-component--space {
  margin-top: 15px;
}

.user-component,
.user-component__column:first-child,
.user-component__musicbar,
.user-component__my-info {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__musicbar {
  border: 2px solid #33d763;
  border-radius: 20px;
  padding-left: 10px;
  width: 200px;
  height: 20px;
  font-size: 15px;
}

.fa-play-circle {
  margin-left: 8px;
  color: #33d763;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__my-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.user-component__my-cone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.user-component__exclamation {
  color: red;
  margin-left: 5px;
}

.user-component__ice-cream {
  color: rgb(15, 223, 60);
}
